#title{
color:#281;
}
.inbox{
width:300px;
height:200px;
background-color:yellow;
overflow:hidden;
margin-top:20px;
margin-bottom:50px;
border-radius:8px;
border:2px solid #000;
box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.pressinput{
width:300px;
height:25px;
border-radius:5px;
}
#so{
width:45px;
height:26px;
border-radius:5px;
margin-left:-5px;
}
#icon{
width:100px;
height:100px;
border-radius:8px;
box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
#news_stable{
  width: 250px;
  height: 150px;
  background-color: #ccc;
  border-radius: 10px;
}
#news_beta{
  width: 250px;
  height: 150px;
  background-color: #ccc;
  border-radius: 10px;
}