#introducebox{
  padding: 20;
  border:3px  solid #000;
  border-radius:8px;
  background-color:rgba(255,255,255,0.2);
  box-shadow: 0 3px 5px rgba(0.1,0.1,0.1,0.2);
  z-index:15px;
  position:relative;
  width:500px;
  height:800px;
  border: 1px solid rgba(255,255,255,0.1);
}
